@import "../variables";

.item-page {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 100px;
}

.item-page-card {
  // border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 150px;
  &__img-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      height: 100%;
      width: auto;
    }
  }

  &__description-panel {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    color: $black;

    margin-bottom: 40px;
  }

  &__price {
    font-weight: 700;
    font-size: 36px;
    color: $lilac;

    margin-bottom: 20px;
  }

  &__order-panel {
    display: flex;
    margin-bottom: 50px;
  }

  &__counter {
    margin-right: 34px;
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__description-title {
    font-weight: 700;
    font-size: 18px;
    color: $black;

    margin-bottom: 25px;
  }

  &__description-text {
    font-weight: 300;
    font-size: 16px;
    color: $dark-grey;
  }
}

.item-card-infos {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;

  &__item {
    display: flex;

    font-size: 16px;
    margin-bottom: 20px;
  }

  &__title {
    width: 150px;
    color: $dark-grey;
  }

  &__description {
    color: $black;
  }
}