@import '../variables';
.authorization {
  &__login {
    color: #FFFFFF;
    margin-left: 10px;
    transition: all 3ms ease-in-out;
  }
  &__login:hover {
    color: $lilac;
  }

  &__registration {
    color: #FFFFFF;
    transition: all 3ms ease-in-out;
  }
  &__registration:hover {
    color: $lilac;
  }
}

.contacts {
  
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__text {
    padding-left: 25px;
    color: #FFFFFF;
    transition: all 3ms ease-in-out;
  }
  &__text:hover {
    color: $lilac;
  }
}

.contacts-purchases {
  &__phone {
    color: inherit;
  }
  &__basket {
    margin-top: 22px;
    display: flex;
    align-items: center;
  }
  &__basket img:hover{
    cursor: pointer;
  }
  &__sum {
    margin-left: 15px;
    color: #828282;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 10px;
  }
}


.header {
  width: 100%;
  margin-bottom: 35px;
  padding-bottom: 15px;

  background-color: $white;
  border-bottom: 1px solid $lilac;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
}

.lower-menu {
  &__body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__logo {
    max-width: 117px;
  }
  &__column {
    padding-left: 180px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &__navigation {
    box-sizing: content-box;
    margin-left: -90px;
    max-width: 824px;
    padding: 0px 20px;
    
  }
  &__contacts-purchases {
    max-width: 145px;
  }
}

.shipping-payment {
  &__icon {
    position: absolute;
    left: 0;
    top: -2px;
  }

  &__text {
    color: #FFFFFF;
    padding-left: 30px;
    transition: all 3ms ease-in-out;
  }
  &__text:hover {
    color: $lilac;
  }
}

.upper-menu {
  width: 100%;
  background: $black;
  margin-bottom: 28px;
  &__contacts {
    position: relative;
    margin-left: 63px;
  }
  &__authorization {
    margin-left: 229px;
  }
  &__shipping-payment {
    position: relative;
  }
  &__body {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: end;
  }
  &__body *{
    display: flex;
    cursor: pointer;
    user-select: none;
  }
}
.categories {
  margin-right:21px;
  width: 219px;
  &__input {
    min-height: 26px;
    background: inherit;
    border-bottom:1px solid $lilac;
    padding-bottom: 8px;
    padding-right: 25px;
  }
}

.goods {
  position: relative;
  flex: 1;
  &__btn {
    background: inherit;
    position: absolute;
    right: 5px;
    top: 0;
  }
  &__btn:hover {
    filter:brightness(125%);
  }

  &__input {
    min-height: 26px;
    padding-bottom: 8px;
    padding-right: 25px;
    border-bottom:1px solid $lilac;
    background: inherit;
    width: 100%;
  }
}
.search {
  margin-bottom: 47px;
  display: flex;
  &__categories {
    background: inherit;
  }

  &__goods {
    background: inherit;
  }
}
.nav-bar {
  
  &__list {
    justify-content: space-between;
    display: flex;
  }
  &__item {
    flex: 1 1 16.66%;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:first-child {
      flex: 1 1 25%;
    }
    &:not(:last-child) {
      padding-right: 15px;
    }
    &:hover {
      color: $lilac;
    }
    &_info {
      position: relative;
      &.active {
        color: $lilac;
      }
    }
    &_info > :not(:last-child){
      margin-right:8px;
    }
  }
}
.socialmedia {
  display: flex;
  margin-bottom: 19px;
  &__item {
    width: 27px;
    height: 27px;
    transition: all 3ms ease-in-out;
  }
  &__item:not(:last-child) {
    margin-right: 13px;
  }
}
.dropdown {
  position: absolute;
  right: 0;
  top: 45px;
  // transition: all 3s ease-in-out;
  &__list {
    width: 240px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #956D84;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  }
  &__item {
    color: black;
    padding: 0px 14px;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 38px;
  }
  &__item:hover {
    background: $lilac;
    color: #FFFFFF;
  }
  &__icon {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}