@import "../variables";
.about {
  justify-content: space-between;
  display: flex;
  &__item {
    flex: 1 1 33.33%;
  }
}

.banner {
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  &__column {
    flex: 1 1 50%;
  }
  &__discount {
    cursor: pointer;
  }
}

.catalog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__row {
    display: flex;
  }
  &__item {
    cursor: pointer;
    flex: 1 1 50%;
  }
}

.home {
  &__about {}

  &__banner {}
}

.main {
  &__home {}
}

.stand {
  &__catalog {}

  &__discount {}
}