@import '../variables';

.items-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    align-items: center;

    grid-auto-rows: 400px;
    gap: 20px 15px;
  }
  &__no-items {
    font-size: 28px;
    font-weight: 300;
  }
}

.item-card {
  width: 240px;
  height: 400px;
  padding: 15px;
  border: 1px solid $lilac;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;

  &__image-wrapper {
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    position: relative;

    background-color: white;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
    flex: 1 0 auto;
  }
  &__name {
    color: $black;
    margin-right: 20px;
    font-weight: 300;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
  }
  &__price {
    //width: 100px;
    white-space: nowrap;
    font-weight: 700;
    color: $lilac;
  }
}


.pagination-widget {
  align-self: center;
  margin-top: 30px;

  display: flex;


  &__button {
    width: 45px;
    height: 45px;

    font-size: 20px;
    color: $dark-grey;
    background-color: inherit;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $lilac;
      opacity: 100%;
      color: $white;
    }

    &_current {
      background-color: $lilac;
      opacity: 50%;
      color: $white;
    }
  }
  &__flip-button {
    width: 45px;
    height: 45px;
    background-color: inherit;
    opacity: 50%;

    &:hover {
      opacity: 100%;
    }
    &_previous {
      margin-right: 8px;
    }
    &_next {
      margin-left: 8px;
    }
  }
}