@import "../variables.scss";
.slider {
  // border: 1px solid red;
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 140px;
  &__litle {
    text-align: center;
    color: $black;
    font-weight: 700;
    font-size: 48px;
    line-height: 18px;
    margin-bottom: 100px;
  }

  &__switch {
    transition: all 0.3s ease-in-out;
    &:hover {
      filter: brightness(125%);
      cursor: pointer;
    }
  }

  &__switch_arrow-left {
    position: absolute;
    right: 125px;
    top: -120px;
  }

  &__switch_arrow-right {
    position: absolute;
    right: 85px;
    top: -120px;
  }
}
.slick{
  &-slider {
    height: 450px;
    & div{
      margin: 0px 7.5px;
    }
  }
    
  &-list {
    height: 100%;
    margin: 0px -7.5px;
  }
}