@import "../variables.scss";

.slider {
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 140px;

  &__litle {
    text-align: center;
    color: $black;
    font-weight: 700;
    font-size: 48px;
    line-height: 18px;
    margin-bottom: 100px;
    @media screen and (max-width: 518px) {
      line-height: 28px;
      font-size: 38px;
      margin-bottom: 60px;
    }
  }

  &__switch {
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: brightness(125%);
      cursor: pointer;
    }
  }

  &__switch_arrow-left {
    position: absolute;
    right: 125px;
    top: -120px;
    @media screen and (max-width: 950px) {
      display: none;
    }
  }

  &__switch_arrow-right {
    position: absolute;
    right: 85px;
    top: -120px;
    @media screen and (max-width: 950px) {
      display: none;
    }

  }

  &__wrapper {
    @media screen and (max-width: 1126px) {
      padding-left: 40px;
    }
    @media screen and (max-width: 950px) {
      padding-left: 20%;
    }
    @media screen and (max-width: 830px) {
      padding-left: 15%;
    }
    @media screen and (max-width: 745px) {
      padding-left: 30%;
    }
    @media screen and (max-width: 530px) {
      padding-left: 20%;
    }
    @media screen and (max-width: 460px) {
      padding-left: 15%;
    }
    @media screen and (max-width: 400px) {
      padding-left: 5%;
    }
  }
}