@import "./libs/normalize";
@import "variables";
@import "./components/header";
@import "./components/home";
@import "./components/footer";
@import "./components/slider";
@import "./components/basket";
@import "./components/about";
@import "./components/paymentDevelivery";
@import "./components/contacts";
@import "./components/loader";
@import "./components/order";
@import "./components/modalWarningWindow";

body {
  background: #FFFFFF;
  padding-top: 260px;
  line-height: 1;
  font-size: 16px;
  color: black;
  font-family: 'Roboto';
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1421px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.main {
  flex: 1 1 auto;
}

.title {
  text-align: center;
  color: $black;
  font-weight: 700;
  font-size: 48px;
  line-height: 18px;
  margin-bottom: 100px;
  margin-top: 48px;
  @media screen and (max-width: 518px) {
    line-height: 28px;
    font-size: 38px;
    margin-bottom: 60px;
  }
}