@import "../scss/normalize.css";
@import "../scss/_variables.scss";
body {
  background: #E5E5E5;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
  font-family: 'Roboto';
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1421px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}
.interaction-btn {
  min-height: 63px;
  width: 220px;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  letter-spacing: 0em;
}
.communication-btn {
  border-radius: 50%;
  width: 53px;
  height: 53px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #956D84;
  color: #FFFFFF;
  transition: all 3ms ease-in-out;
}
.btn:hover {
  filter: brightness(105%);
}
.btn:active {
  filter: brightness(125%);
}
.authorization {
  &__login {
    color: #FFFFFF;
    margin-left: 10px;
    transition: all 3ms ease-in-out;
  }
  &__login:hover {
    color: $lilac;
  }

  &__registration {
    color: #FFFFFF;
    transition: all 3ms ease-in-out;
  }
  &__registration:hover {
    color: $lilac;
  }
}

.contacts {
  position: relative;
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__text {
    padding-left: 25px;
    color: #FFFFFF;
    transition: all 3ms ease-in-out;
  }
  &__text:hover {
    color: $lilac;
  }
}

.contacts-purchases {
  &__phone {
    color: inherit;
  }
}


.header {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  &__contacts-purchases {}

  &__lower-menu {
    display: flex;
  }

  &__upper-menu {
    background: $black;
    min-height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
  }
}

.lower-menu {
  &__logo {
    margin-right: 121px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    max-width: 824px;
    width: 100%;
    margin-right: 214px;
  }
  &__body {
    display: flex;
    align-items: flex-end;
  }
}

.shipping-payment {
  position: relative;
  &__icon {
    position: absolute;
    left: 0;
    top: -2px;
  }

  &__text {
    color: #FFFFFF;
    padding-left: 30px;
    transition: all 3ms ease-in-out;
  }
  &__text:hover {
    color: $lilac;
  }
}

.upper-menu {
  &__authorization {
    margin-left: 230px;
  }

  &__contacts {
  }
  &__body {
    justify-content: end;
    display: flex;
    height: 100%;
  }
  &__body *{
    display: flex;
    cursor: pointer;
    user-select: none;
  }

  &__shipping-payment {
    margin-right: 81px
  }
}
.categories {
  margin-right:21px;
  width: 219px;
  &__input {
    min-height: 26px;
    background: inherit;
    border-bottom:1px solid #956D84;
    padding-bottom: 8px;
    padding-right: 25px;
  }
}

.goods {
  position: relative;
  flex: 1;
  &__btn {
    background: inherit;
    position: absolute;
    right: 5px;
    top: 3px;
  }
  &__btn:hover {
    filter:brightness(125%);
  }

  &__input {
    min-height: 26px;
    padding-bottom: 8px;
    padding-right: 25px;
    border-bottom:1px solid #956D84;
    background: inherit;
    width: calc(100% - 21px);
  }
}
.search {
  width: 100%;
  margin-bottom: 47px;
  display: flex;
  &__categories {
    background: inherit;
  }

  &__goods {
    background: inherit;
  }
}
.nav-bar {
  &__list {
    justify-content: space-between;
    display: flex;
  }
  &__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__item:hover {
    color: $lilac;
  }
  &__item_catalog > :not(:last-child){
    margin-right:8px;
  }

  &__item_info {}
  &__item_info > :not(:last-child){
    margin-right:8px;
  }
  &__link {}
}
.socialmedia {
  display: flex;
  margin-bottom: 19px;
  &__item {
    width: 27px;
    height: 27px;
    transition: all 3ms ease-in-out;
  }
  &__item:not(:last-child) {
    margin-right: 13px;
  }
}